<div class="page">
    <div class="loading-ripple" *ngIf="isLoading"></div>

    <div *ngIf="user">
        <div class="block-content block-content_sm block-content_image box-shadow margin-bottom-40">
            <div class="block-content__pic">

                <div class="upload-block__in upload-block__in_width"
                     *ngIf="!userForm.controls['avatar'].value">
                    <label class="upload-block upload-block_shadow"
                           for="avatar">
                        <div class="upload-block__vertical">
                            <i class="icon-quick"></i>
                            <div class="upload-block__text text-grey">Update Profile Picture</div>
                        </div>
                    </label>
                </div>
                <div class="upload-block__in upload-block__in_width"
                     *ngIf="userForm.controls['avatar'].value">
                    <img [src]="userForm.controls['avatar'].value">
                    <span class="upload-tip text-center">
                        <label class="cursor-pointer" for="avatar">Change</label>
                        <i class="fa fa-circle"></i>
                        <span (click)="clearFileInput(avatar, userForm, 'avatar');">
                            Clear
                        </span>
                    </span>
                </div>
                <input type="file" #avatar ng2FileSelect style="display: none" id="avatar"
                       accept="image/x-png, image/png, image/jpeg"
                       [uploader]="uploader" (change)="onFileChange($event)">
            </div>

            <div class="block-content__in">
                <div class="h3">
                <span class="d-inline-block" contenteditable="true"
                      [textContent]="user?.first_name" placeholder="John"
                      (input)="patchFormValue(userForm, {'first_name':$event.target.textContent}, true)"></span>
                    <span class="d-inline-block" contenteditable="true"
                          [textContent]="user?.last_name" placeholder="Doe"
                          (input)="patchFormValue(userForm, {'last_name':$event.target.textContent}, true)"></span>
                    <validation-messages class="error" [control]="userForm.controls.first_name"></validation-messages>
                    <validation-messages class="error" [control]="userForm.controls.last_name"></validation-messages>
                </div>
                <!--<div class="text-grey block-content__desc">{{ user?.role }}</div>-->
                <div class="text-light-blue block-content__about text-uppercase">{{ user?.role }}</div>
            </div>
        </div>

        <form [formGroup]="userForm">
            <div class="block-content block-content_sm block-content_border margin-bottom-40">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-content__title">Additional Info</div>
                    </div>
                </div>
                <div class="row block-content__line">
                    <div class="col-md-12">
                        <div class="field">
                            <input name="email" type="email" formControlName="email"
                                   [ngClass]="{'has-error': userForm.controls['email'].errors}"
                                   [attr.data-empty]="!userForm.controls['email'].value">
                            <label for="email">Email</label>
                            <validation-messages class="error"
                                                 [control]="userForm.controls.email"></validation-messages>
                        </div>
                    </div>
                </div>
                <div class="row block-content__line">
                    <div class="col-md-7">
                        <div class="field">
                            <input name="phone" type="tel" formControlName="phone"
                                   [ngClass]="{'has-error': userForm.controls['phone'].errors}"
                                   [attr.data-empty]="!userForm.controls['phone'].value">
                            <label for="phone">Phone</label>
                            <validation-messages class="error"
                                                 [control]="userForm.controls.phone"></validation-messages>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="field">
                            <label class="is-selected">Type</label>
                            <div class="dropdown-select_wrap">
                                <app-dropdown-select [options]="choices.phoneTypeChoices"
                                                     formControlName="phone_type"
                                                     [valueKey]="'key'"
                                                     [labelKey]="'value'">
                                </app-dropdown-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row block-content__line">
                    <div class="col-md-12">
                        <div class="field">
                            <label class="is-selected">Time Zone</label>
                            <div class="dropdown-select_wrap">
                                <app-dropdown-select [options]="choices.timezoneChoices"
                                                     formControlName="timezone"
                                                     [allowNull]="true"
                                                     [valueKey]="'key'"
                                                     [labelKey]="'value'">
                                </app-dropdown-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form [formGroup]="passwordForm">
            <div class="block-content block-content_sm block-content_border margin-bottom-40">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-content__title">Update Password</div>
                    </div>
                </div>
                <div class="row block-content__line">
                    <div class="col-md-12">
                        <div class="field">
                            <input name="old_password" type="password" formControlName="old_password"
                                   [attr.data-empty]="!passwordForm.controls['old_password'].value">
                            <label for="old_password">Password</label>
                            <validation-messages class="error" [control]="passwordForm.controls.old_password">
                            </validation-messages>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row block-content__line">
                    <div class="col-md-12">
                        <div class="field">
                            <input name="new_password" type="password" formControlName="new_password"
                                   [attr.data-empty]="!passwordForm.controls['new_password'].value">
                            <label for="new_password" class="label_center">New Password</label>
                            <validation-messages class="error" [control]="passwordForm.controls.new_password">
                            </validation-messages>
                        </div>
                    </div>
                </div>
                <div class="row block-content__line">
                    <div class="col-md-12">
                        <div class="field">
                            <input name="confirm_password" type="password" formControlName="confirm_password"
                                   [attr.data-empty]="!passwordForm.controls['confirm_password'].value">
                            <label for="confirm_password" class="label_center">Re-enter New Password</label>
                            <validation-messages class="error" [control]="passwordForm.controls.confirm_password">
                            </validation-messages>
                        </div>
                    </div>
                </div>
                <validation-messages class="error" [errors]="passwordErrors"></validation-messages>
            </div>
        </form>

        <div class="modal-footer modal-footer_border">
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn_md btn_white" (click)="close()"
                            type="button">CANCEL</button>
                    <button class="btn btn_md btn_blue" type="button"
                            (click)="save()"
                            [disabled]="!(userForm.dirty && userForm.valid || passwordForm.dirty && passwordForm.valid)">
                        SAVE
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>
