<div class="page">
  <div class="board">
    <!-- <div class="left-side" *ngIf="isLoading">
      
    </div> -->
    <ng-container *ngIf="!isLoading">
      <div class="loading-ripple" *ngIf="isLoading"></div>
      <div class="board__left">
        <!-- begin header -->
        <div class="board__header">
          <div class="logo-box">
            <div class="logo">
              <img alt="ShootQ logo" src="/assets/img/shootq-icon.svg" />
            </div>
          </div>
          <h2 class="board__title">Please enter a new password.</h2>
        </div>
        <!-- end header -->
        <!-- begin body -->
        <div class="board__body">
          <form [formGroup]="changePasswordForm">
            <div class="field field_placeholder" [ngClass]="{'is-validate': changePasswordForm.controls.password1.invalid && showFormErrors}">
              <input name="password1"  type="password" value="" formControlName="password1" [attr.data-empty]="!changePasswordForm.value.password1">
              <label for="password1">New password</label>
              <span *ngIf="changePasswordForm.controls.password1.errors && showFormErrors" class="validate-message">
                  <span *ngIf="changePasswordForm.controls.password1.errors.required">The password is required.</span>
                  <span *ngIf="changePasswordForm.controls.password1.errors.minlength">Password needs to be 8+ characters.</span>
                  <span *ngIf="changePasswordForm.controls.password1.errors.maxlength">Password needs to be 128- characters.</span>
                </span>
            </div>
            <div class="field field_placeholder" [ngClass]="{'is-validate': changePasswordForm.controls.password2.invalid && showFormErrors}">
              <input name="password2"  type="password" value="" formControlName="password2" [attr.data-empty]="!changePasswordForm.value.password2">
              <label for="password2">Confirm New password</label>
              <span *ngIf="changePasswordForm.controls.password2.errors && showFormErrors" class="validate-message">
                <span *ngIf="changePasswordForm.controls.password2.errors.required">The password confirmation is required.</span>
                <span *ngIf="changePasswordForm.controls.password2.errors.passwordConfirmInvalid">Passwords don't match.</span>
              </span>
            </div>
            <div class="control-button">
              <button type="button" class="btn" (click)="doChangePassword()">SEND</button>
            </div>
          </form>
        </div>
        <!-- end body -->
      </div>
      <div class="board__right">
        <div class="bg-img" style="background-image: url('assets/img/login_work_less_guy.png')"></div>
      </div>
    </ng-container>
  </div>
</div>
