<div class="modal fade " bsModal #modal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm bg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-header-in">
                    <div class="h3">
                        {{ !!template.id ? 'Edit Taxes Template' : 'Add New Taxes Template' }}
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="loading-ripple" *ngIf="isLoading"></div>

                <form [formGroup]="form">
                    <div class="nameBlock inputStyle">
                        <input type="text" formControlName="name" placeholder="Tax Name" required/>
                    </div>
                    <div>
                        <div class="m-b-s">
                            <app-dropdown-select formControlName="amount_by"
                                                 [options]="amountChoices">
                            </app-dropdown-select>
                        </div>

                        <div class="inputStyle" *ngIf="form.value.amount_by === 'Percentage Rate'">
                            <input type="number" placeholder="% rate" formControlName="rate"/>
                        </div>

                        <div *ngIf="form.value.amount_by === _AMOUNT_CHOICE_PERCENTAGE_RATE">
                            <div formArrayName="additional_rates">
                              <div *ngFor="let rate of form.controls.additional_rates.controls; let i=index">
                                <div class="input-group">
                                  <input type="number" class="form-control" placeholder="% rate" [formControlName]="i"/>
                                  <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" (click)="removeAdditionalRate(i)">
                                      <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <p class="text-center">
                              <button type="button" class="btn btn-link" (click)="addAdditionalRate()">Add additional rate</button>
                            </p>
                            <div class="m-b-s m-b-s_mod ">
                                <app-dropdown-select formControlName="calculate_settings"
                                                     [options]="calculationAgainstChoices">
                                </app-dropdown-select>
                            </div>

                            <ng-container *ngIf="form.value.calculate_settings === _RETAIL_PRICE">
                                <label>​Calculate against retail price of</label>
                                <div class="radioBlock margin-bottom-0" formGroupName="calculate_against">
                                    <div class="row margin-bottom-5">
                                        <div class="checkStyle col-sm-6" *ngFor="let option of calculationChoices">
                                            <label>
                                                <input type="checkbox" [formControlName]="option.value"/>
                                                <span>{{ option.label }}</span>
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </ng-container>

                            <div class="m-b-s m-b-s_mod ">
                                <app-dropdown-select formControlName="schedule_settings"
                                                     [options]="paymentScheduleSettings">
                                </app-dropdown-select>
                            </div>

                            <div class="checkStyle">
                                <label>
                                    <input type="checkbox" formControlName="apply_to_shipping_cost"/>
                                    <span>Apply tax on shipping cost</span>
                                </label>
                            </div>

                        </div>

                        <div class="inputStyle inputStyle_mod margin-bottom-0"
                             *ngIf="form.value.amount_by === _AMOUNT_CHOICE_FIXED">
                            <input type="number" placeholder="Amount" formControlName="total_amount"/>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer bg">
                <button type="button" class="sq-btn-dismiss" data-dismiss="modal"
                        (click)="hide()">Cancel
                </button>
                <button type="button" class="sq-btn-submit"
                        [disabled]="form.invalid"
                        (click)="save()">Save
                </button>
            </div>
        </div>
    </div>
</div>
