<div class="modal-header">
    <div class="modal-header-in">
        <div class="h3">Edit My Contact Information</div>
    </div>
</div>
<div class="modal-body">
    <form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
        <div class="form-group">
            <div class="field">
                <input placeholder="First Name" formControlName="first_name">
                <label class="is-selected">First Name</label>
            </div>
            <validation-messages class="errors"
                                 [control]="form.controls.first_name"></validation-messages>
        </div>
        <div class="form-group">
            <div class="field">
                <input placeholder="Last Name" formControlName="last_name">
                <label class="is-selected">Last Name</label>
            </div>
            <validation-messages class="errors"
                                 [control]="form.controls.last_name"></validation-messages>
        </div>
        <div class="form-group">
            <form formGroupName="default_phone_details">
                <div class="field">
                    <input placeholder="Phone" formControlName="number">
                    <label class="is-selected">Phone</label>
                </div>
                <validation-messages class="errors"
                                     [control]="form.controls.default_phone_details.controls.number">
                </validation-messages>
            </form>
        </div>
        <div class="form-group">
            <form formGroupName="default_email_details">
                <div class="field">
                    <input placeholder="Email" formControlName="address">
                    <label class="is-selected">Email</label>
                </div>
                <validation-messages class="errors"
                                     [control]="form.controls.default_email_details.controls.address">
                </validation-messages>
            </form>
        </div>
        <div class="form-group">
            <div formGroupName="default_address_details">
                <div class="field">
                    <input placeholder="Address" formControlName="address1"
                      googleplace
                      (setAddress)="updateLocation($event)">
                    <label class="is-selected">Address</label>
                </div>
                <validation-messages class="errors"
                                     [control]="form.controls.default_address_details.controls.address1">
                </validation-messages>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer bg">
    <button type="button" class="btn btn_xs btn_transparent " data-dismiss="modal" (click)="close()">Cancel</button>
    <button type="button" class="btn btn_xs btn_blue" [disabled]="!valid()" (click)="save()">Done</button>
</div>
