.bold {
	font-weight: 500;
}
.lighter {
	font-weight: lighter;
}
.align-right {
    text-align: right !important;
    padding-right: 45px;
}
tr {
    height: 54px;
}
td, th {
    vertical-align: middle !important;
}
td {
	width: 20%;
}
.padding-left-45 {
    padding-left: 45px !important;
}
.padding-right-45 {
    padding-right: 45px !important;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
