<div class="booking-payment">

  <div class="booking-wizard-step-header">
    <div class="text-center">
      <h1>Payment Information</h1>
      <div class="title">
        This Proposal Expires on <span>December 10, 2016</span>
      </div>
      <hr class="split-line"/>
    </div>
  </div>

  <div class="payment-schedule-wrap">
    <div class="payment-schedule-title title title_bold ">
      Payment Schedule
    </div>
    <schedule-payment-table [proposal]="proposal"
                            [subtotalPrice]="overview.subtotal"
                            [totalPrice]="overview.totalPrice"
                            [shippingPrice]="overview.shipping"
    ></schedule-payment-table>
  </div>

  <hr class="split-line"/>

  <div class="payment-type-wrap">
    <div class="payment-schedule-title title title_bold">
      How would you like to pay?
    </div>
    <button class="payment-type-btn" (click)="payWithCard()">Pay With Card</button>
    <button *ngIf="proposal.pay_with_check" class="payment-type-btn is-active" (click)="payWithCheck()">Pay With Check</button>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <!--<div class="pay-form-wrapper">-->
    <!--<form class="pay-form">-->
      <!--<div class="row">-->
        <!--<div class="text-center">-->
          <!--<div class="pay-form-title title title_bold">How would you like to pay?</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col-sm-6">-->
          <!--<input class="form-check-input" class="custom-radio" id="radio1" type="radio" value="option1" name="pay">-->
          <!--<label class="form-check-label"  for="radio1">Pay with Card</label>-->
        <!--</div>-->

        <!--<div class="col-sm-6">-->
          <!--<input class="form-check-input" class="custom-radio" id="radio2" type="radio" value="option1" name="pay">-->
          <!--<label class="form-check-label" for="radio2">Pay with Check</label>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="pay-form-in">-->
        <!--<div class="row">-->
          <!--<div class="col-sm-6">-->
            <!--<div class="form-group">-->
              <!--<label>First name*</label>-->
              <!--<input type="text" class="form-control" placeholder="First name">-->
            <!--</div>-->

          <!--</div>-->
          <!--<div class="col-sm-6">-->
            <!--<div class="form-group">-->
              <!--<label>Last name*</label>-->
              <!--<input type="text" class="form-control" placeholder="Last name">-->
            <!--</div>-->

          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col-sm-6">-->
            <!--<div class="form-group">-->
              <!--<label>Card number</label>-->
              <!--<input type="text" class="form-control" placeholder="Card number">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-6">-->
            <!--<div class="form-group">-->
              <!--<label>CCV</label>-->
              <!--<input type="text" class="form-control" placeholder="CCV">-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col-sm-6">-->
            <!--<div class="form-group">-->
              <!--<label>Expiration</label>-->
              <!--<input type="text" class="form-control" placeholder="mm/dd">-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col-sm-6">-->
            <!--<div class="form-group form-group_mod">-->
              <!--<label>Billing address*</label>-->
              <!--<input type="text" class="form-control" placeholder="Street address">-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col-sm-6">-->
            <!--<div class="form-group form-group_mod">-->
              <!--&lt;!&ndash; <label>City</label> &ndash;&gt;-->
              <!--<input type="text" class="form-control" placeholder="City">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-6">-->
            <!--<div class="form-group form-group_mod">-->
              <!--&lt;!&ndash; <label>&nbsp;</label> &ndash;&gt;-->
              <!--<div class="selectStyle">-->
                <!--<select>-->
                  <!--<option>State</option>-->
                  <!--<option>Lorem ipsum.</option>-->
                  <!--<option>Lorem ipsum.</option>-->
                  <!--<option>Lorem ipsum.</option>-->
                <!--</select>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col-sm-6">-->
            <!--<div class="form-group form-group_mod">-->
              <!--&lt;!&ndash; <label>ZIP code</label> &ndash;&gt;-->
              <!--<input type="text" class="form-control" placeholder="ZIP code">-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->
</div>
