.success-container {
    text-align:center;
    h2 {
        color: rgb(255, 255, 255);
        font-size: 32px;
        font-weight: bold;
        line-height: 48px;
        width: 500px;
        font-family: 'Titillium Web' !important;
    }
}