
.h3 {
	font-size: 24px;
	font-weight: 600;
	color: #3a405b;
	font-family: 'Titillium Web';
	margin: 0;
}
.modal-header-in {
	padding: 20px 40px;
}
.modal-footer {
	border-top: 1px solid #e4e8f0;
	height: 50px;
	padding: 7px 40px;
	.btn {
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
	}
}
.modal  {
	&-sm_mod {
		background: #FFF;
		max-width: 540px;
		margin: 150px auto !important;
	}
	&-body {
		padding: 0 40px 70px 40px;
		font-size: 18px;
		color: #3a405b;
	}
	&-body-row {
		padding: 0 40px;
		margin-bottom: 20px;
	}
	&-body-cell {
		display: inline-block;
		vertical-align: middle;
		padding-top: 20px;
		&_280 {
			width: 280px;
		}
	}
	&-body-text {
		padding: 0 27px;
	}
	&-body-link {
		font-size: 14px;
		background: transparent;
		border: none;
		color: #086aff;
	}
	.btn {
		background: transparent;
		border-color: transparent;
		border-radius: 4px;
		font-size: 14px;
		width: auto;
		text-transform: capitalize;
		font-weight: 300;
		&_xs {
			padding: 5px 30px;
		}
		&_md {
			padding: 10px 19px;
		}
		&_transparent {
			background: transparent;
			color: rgba(55, 57, 76, 0.5);
		}
		&_blue {
			background-color: #086aff;
			color: #fff;
		}
		&_green {
			background-color: #57cd75;
			color: #fff;
		}
		&_red {
			background-color: #e94e4c;
			color: #fff;
		}
		&_shadow {
			box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.2);
		}
	}

}
.bg {
	background: #FAFBFB;
}

