<div class="events-editor-container">
  <ul class="events-editor-timeline" [ngClass]="{'no-events': eventGroup.events.length === 0}">
    <li class="group-event start events-editor__event">
      <div class="event-cycle"></div>
      <div class="timeline-graph">
        <div class="event-circle"></div>
      </div>
      <div class="group-event-body">
        <div class="group-event-title">
          <span class="event-time">{{ eventGroup.start | date:'mediumDate' }} {{ eventGroup.start | date:'shortTime' }}</span>
          <span class="is-bold"> {{ eventGroup.name }}</span>
           begins
        </div>
        <div class="group-event-location" *ngIf="eventGroup.location_name">
          <i class="fa fa-map-marker" aria-hidden="true"></i> {{ eventGroup.location_name }}
        </div>
        <div class="group-event-location" *ngIf="eventGroup.address">
          <i class="fa fa-map-marker" aria-hidden="true"></i> {{ eventGroup.address }}
        </div>
      </div>
    </li>
    <template ngFor let-eventItem [ngForOf]="eventGroup.events" let-i="index" [ngForTrackBy]="identify">
      <!-- begin add button -->
      <li class="events-editor__btn">
        <button type="button" class="btn" (click)="addEventItem(i)">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </li>
      <!-- end add button -->
      <li class="event-item events-editor__timeslot">
        <div class="event-cycle" (click)="addEventItem(i)"></div>
        <div class="event-wrapper">
          <div class="event-wrapper__in">
            <div class="event-info events-editor__timeblock" (click)="selectEventItem(i)">
              <div class="event-time" *ngIf="eventItem.start && eventItem.end">{{ eventItem.start | date:timeFormat }} - {{ eventItem.end | date:timeFormat }}</div>
              <div class="event-title">{{ eventItem.name }}</div>
            </div>

          <!-- begin modal window -->
            <div class="new-timeslot" *ngIf="currentEventItemIndex === i" [formGroup]="eventItemForm">
              <div class="new-timeslot__header" stop-click>
                <input type="text" placeholder="New Time Slot" formControlName="name">
              </div>
              <div class="new-timeslot__in">
                <!-- begin start time -->
                <div class="field" stop-click>
                  <label>Start</label>
                  <sq-datetimepicker [options]="options" formControlName="start"></sq-datetimepicker>
                </div>
                <!-- end start time -->

                <!-- begin end time -->
                <div class="field" stop-click>
                  <label>End</label>
                  <sq-datetimepicker [options]="options" formControlName="end"></sq-datetimepicker>
                </div>
                <!-- end end time -->
                <div class="field" *ngIf="eventItemForm.errors?.invalidInterval">
                  <p class="text-danger">Sorry, end time cannot be earlier than start time.</p>
                </div>
              </div>
              <div class="new-timeslot__footer">
                <div class="new-timeslot__btns">
                  <button class="btn-delete" (click)="deleteEventItem(i)" stop-click>
                  Delete
                  </button>
                  <button class="btn-cancel" (click)="closeEventItem()" stop-click>Cancel</button>
                  <button class="btn-save" (click)="saveEventItem()" stop-click>Save</button>
                </div>
              </div>
            </div>
            <!-- end modal window -->
          </div>
          <event-location [eventItem]="eventItem" (onUpdateLocation)="updateEventItemLocation($event)"></event-location>
        </div>

      </li>
    </template>
    <!-- begin add button -->
    <li class="events-editor__btn events-editor__btn_bottom">
      <button type="button" class="btn" (click)="addEventItem(eventGroup.events.length)">
          <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </li>
    <!-- end add button -->
    <li class="group-event end events-editor__event">
      <div class="event-cycle"></div>
      <div class="timeline-graph">
        <div class="event-circle"></div>
      </div>
      <div class="group-event-body">
        <div class="group-event-title">
          <span class="event-time">{{ eventGroup.end | date:'mediumDate' }} {{ eventGroup.end | date:'shortTime' }}</span>
          <span class="is-bold"> {{ eventGroup.name }}</span> ends
        </div>
        <div class="group-event-location" *ngIf="eventGroup.address">
          <i class="fa fa-map-marker" aria-hidden="true"></i> {{ eventGroup.address }}
        </div>
      </div>
    </li>
  </ul>
</div>
