@import "../../../../../assets/css/variables";
@import "../../../../../assets/css/mixins";

.modal-dialog {
  width: 90%!important;
  margin: 100px auto 50px!important;

  .modal-content {
    width: 100%;
  }

  .modal-header {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: transparent;

    .close {
      position: absolute;
      right: -30px;
      bottom: 5px;
      color: #fff;
      opacity: 1;
    }
  }
}

.email-template {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 7px 30px 24px rgba(0, 0, 0, .1);
  &__col {
    width: 50%;
  }
  &__header {
    padding: 15px 26px 13px 26px;
    display: flex;
  }
  &__header-line {
    padding: 21px 25px;
  }
  &__body /deep/ {
    padding: 30px 36px 10px 30px;
    color: #3a405b;
    font-size: 14px;
    min-height: 200px;
    em {
      color: #3a405b;
    }
  }
  &__footer {
    padding: 13px 20px 13px 25px;
  }

  &__footer-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__dropdown {
    input {
      width: 100%;
      border: none;
      &::-webkit-input-placeholder {
        font-size: 24px;
        font-weight: 600;
        color: #3a405b;
      }
    }

  }
}

input {
  &:focus {
    outline: none;
  }
  &::-webkit-input-placeholder {
    font-size: 14px;
    color: rgba(58, 64, 91, 0.5);
  }
}

.border-bottom {
  border-bottom: 1px solid #E4E8F0;
}

h3,
.h3,
.email-template__dropdown /deep/ .dropdown {
  font-family: 'Titillium Web';
  font-size: 24px;
  font-weight: 600;
}
.email-template__dropdown {
  /deep/ button.dropdown {
    border: 0;
    line-height: 1.1;
    height: auto;
    width: auto;
    padding-left: 0;
    /deep/ span {
      top: 50%!important;
      right: 0!important;
      transform: translate(0, -50%);
    }
  }
}

.info-text {
  font-size: 12px;
  font-weight: 600;
  color: #b5c1cf;
}

.sq-checkbox {
  display: inline-block;
  vertical-align: middle;
}

.edit-block {
  &__item {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item_width {
    .edit-block__line {
      width: calc(100% - 40px);
      margin-right: 10px;
    }
  }
  &__btn {
    overflow: hidden;
  }
  &__line {
    position: relative;
    border-radius: 4px;
    input {
      width: 100%;
      border: none;
      height: 23px;
      background: transparent;
    }
    &.is-active {
      background-color: #fafbfb;
      border: solid 1px #e4e7ef;
    }
    &.sm {
      padding: 4px 15px 2px 15px;
      min-height: 30px;
    }
    &.md {
      padding: 7px 15px;
    }

  }
  &__name {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    font-weight: 600;
    color: #3a405b;
  }
}

.edit-block__line_title.sm {
  padding-left: 42px;
}

.input {
  input, span {
    width: 100%;
    border: none;
    background: transparent;
    font-size: 24px;
    color: #3a405b;
    &:focus {
      outline: none;
    }
  }
  &_placeholder {
    input {
      &::-webkit-input-placeholder {
        font-size: 24px;
        color: #3a405b;
        line-height: normal;
      }
    }
  }
}

.highlighted {
  padding: 0 2px;
  font-size: 14px;
  color: #3a405b;
  border-radius: 2px;
  &.light-green {
    background-color: rgba(2, 173, 148, 0.2);

  }
}

.extand-btn {
  position: relative;
  display: inline-block;
  float: right;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #e4e8f0;
  &:focus {
    outline: none;
  }
  &__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #3a405b;
    font-size: 7px;
  }
}

.btn {
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  transition: opacity .3s;
  &:hover {
    opacity: .8;
  }
  &_sm {
    padding: 10px 26px;
  }
  &_md {
    padding: 12px 52px 11px 52px;
    text-transform: uppercase;
  }
  &_grey {
    color: #3a405b;
    background-color: #fafbfb;
    box-shadow: 0 1px 2px 0 rgba(181, 193, 207, 0.5);
    border-color: #e4e8f0;
    font-weight: 300;
  }
  &_blue {
    background-color: #086aff;
    border-color: #086aff;
    color: #fff;
    font-weight: 400;
  }
  &_white {
    background: #FFF;
    color: #3a405b;
    font-weight: 600;
    border-color: #b6c1cf;
  }
}

.wrap-editor {
  font-size: 14px;
  color: #3a405b;
  margin-bottom: 20px;

  p {
    line-height: 2;
  }
}

.template-contents-body {
  position: relative;
  min-height: 200px;
  outline: none;
  font-size: 18px;
  line-height: 32px;
  color: #3a405b;
  &.is-active {
  	&:before {
  		display: none;
  	}
  }
  &:before {
  	position: absolute;
  	left: 0;
  	top: 0;
  	content: attr(placeholder);
  	display: block;
  	color: #9da0ad;
  }
  &:focus {
  	&:before {
  		display: none;
  	}
  }
  em {
    color: #3a405b;
  }
  // &::-webkit-input-placeholder {color: #9da0ad;}
}

