<div class="page">
    <div class="page-content">
        <div class="panel panel-shadow">
            <div class="panel-body">
                <div class="row m-r-0 m-l-0">
                    <div class="page-title__block">
                        <h2 class="page-title">
                            <ng-container *ngIf="!isArchived">All </ng-container>
                            <ng-container *ngIf="isArchived">Archived </ng-container>
                            Contacts
                            <ng-container *ngIf="!isLoading && paginator.totalItems">({{ paginator.totalItems }})</ng-container>
                        </h2>
                        <span class="cursor-pointer page-title__archive"
                              (click)="toggleView()">
                            View <span *ngIf="!isArchived">archived </span>contacts
                        </span>
                        <div class="col-xs-6 second-column pull-right text-right contact-type-list" [class.scroll]="scroll">
                          <div class="input-search input-search-dark search-contact scroll">
                              <i class="input-search-icon icon-search"></i>
                              <input type="text" [ngModel]="searchTerm" (ngModelChange)="searchContacts($event)" class="form-control"
                                     name="" placeholder="Search">
                          </div>
                          <div class="add-new-contact">
                            <button type="button" class="sq-btn-secondary"
                                    (click)="addContact()">New Contact</button>
                          </div>
                      </div>
                    </div>
                    <div class="col-xs-8 first-column padding-left-0">
                        <div class="btn-group contact-actions">
                            <ng-container *ngIf="!isArchived">
                                <button type="button" class="btn btn-default delete"
                                    title="Archive" [disabled]="!actionsBar.enabled"
                                    (click)="archiveAction($event)">
                                    <i class="icon-archive"></i>
                                    <span tooltip="Archive" placement="bottom" class="action-option action-option-delete"></span>
                                </button>
                                <button type="button" class="btn btn-default second" [disabled]="twoNotSelected"
                                        (click)="navigateTo('contacts/merge', contactMerge)">
                                    <i class="icon-merge"></i>
                                </button>
                                <button type="button" class="btn btn-default second {{ dropdownOpenedClass }}"
                                        [disabled]="!actionsBar.enabled">
                                    <dropdown [button]="false" iconClass="icon-export" class="action-dropdown"
                                              [class.disabled]="!actionsBar.enabled" [disabled]="!actionsBar.enabled"
                                              [actions]="exportActions" (optionSelected)="exportActionsHandler($event)"
                                              (openCloseEvent)="dropdownOpenCloseHandler($event)"></dropdown>
                                </button>
                                <button type="button" class="btn btn-default third"
                                        title="Import CSV"
                                        (click)="navigateTo('contacts/import-csv')">
                                    <i class="fa fa-upload"></i>
                                    <span tooltip="Import CSV" placement="bottom" class="action-option action-option-delete"></span>
                                </button>
                            </ng-container>
                            <ng-container *ngIf="isArchived">
                                <button type="button" class="btn btn-default first"
                                    [disabled]="!actionsBar.enabled"
                                    (click)="confirmDelete();">
                                    <span tooltip="Delete" placement="bottom" class="action-option action-option-delete">
                                        <i class="icon-trash"></i>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-default second"
                                        [disabled]="!actionsBar.enabled"
                                        (click)="confirmRestore();">
                                    <span tooltip="Restore" placement="bottom" class="action-option action-option-delete">
                                        <i class="icon-ic-export"></i>
                                    </span>
                                </button>
                            </ng-container>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="contact-list position-relative">
                        <div class="rippleContainer" *ngIf="isLoading">
                            <div class="loading-ripple"></div>
                        </div>
                        <div class="col-md-12 pl-0 pr-0">
                            <div class="text-center m-t-20 no-items-message"
                                 *ngIf="paginator.totalItems === 0 && !isLoading">There are no items to display
                            </div>
                            <div id="table-container">
                                <table class="table table-hover scroll"
                                       [class.hide]="paginator.totalItems === 0 || totalItems === 0 || updateTable || isLoading">
                                    <thead>
                                    <tr>
                                        <th>
                                            <div class="sq-checkbox sq-checkbox_empty">
                                                <input type="checkbox"
                                                       (click)="checkAll()"
                                                       [checked]="selectAllChecked"/><label></label>
                                            </div>
                                        </th>
                                        <th class="sorted-col" (click)="changeSortBy('name')">
                                            <div class="head-name">Name</div>
                                            <i class="{{ getSortNameIcon()}}"></i>
                                        </th>
                                        <th class="sorted-col" (click)="changeSortBy('email')">Email<i
                                                class="{{ getSortEmailIcon()}}"></i></th>
                                        <th>Phone</th>
                                        <!-- <th>Type</th> -->
                                        <th class="text-middle icon"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let contact of contacts; let last = last">
                                      <td class="text-middle">
                                          <div class="sq-checkbox sq-checkbox_empty"
                                          ><input type="checkbox" [checked]="isChecked(contact)"
                                                  (click)="toggleCheckContact(contact)"/><label></label></div>
                                      </td>
                                      <td class="text-middle bold contact-name"
                                          [routerLink]="['/contacts/profile/', contact.id]"
                                      >{{ contact.$fullName }}</td>
                                      <td class="text-middle">{{ contact.$default_email }}</td>
                                      <td class="text-middle phone"><a href="tel:{{ contact.phone }}">{{ contact.$default_phone }}</a></td>
                                      <!-- <td class="text-middle bold text-uppercase"> {{ contact.$contactTypesString }}</td> -->
                                      <td class="text-middle action-button">
                                          <dropdown [button]="false" listClass="blue-circle vertical pad"
                                                    iconClass="icon-more-icon-o font-size-10"
                                                    [actions]="singleActions.enabledContact"
                                                    (optionSelected)="singleContactAction($event, contact)"
                                          ></dropdown>
                                      </td>
                                      {{ last ? setTableWidth() : ''}}
                                    </tr>
                                    <tr class="paginate-container" [class.has-pages]="hasPages">
                                        <td colspan="5">
                                            <paginate [totalItems]="paginator.totalItems"
                                                      [currentPage]="paginator.currentPage" [newDesign]="true"
                                                      (ngChange)="handlePageChange($event)"
                                                      [perPageOptions]="[10, 50, 100]"
                                                      [perPage]="paginator.perPage"
                                                      customClass="contacts-pagination"
                                            ></paginate>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
