.SHQ-error-page-6 {
  margin-top:-52px;
  background-color: #fff !important;
  max-height: 700px;
}

.Mask {
  width: 940px;
  height: 560px;
  background-color: #ffffff;
  box-shadow: 0 30px 40px 0 rgba(58, 64, 91, 0.2);
  margin-top: -220px;
  z-index: -1;
}

.position-Not{
  margin-top: 80px ;
  margin-left: 81px;
  margin-bottom: 0px;
  width: 430px;
  height: 190px;
}

.Not-Authorized {
  margin-top: 80px ;
  padding-top: 80px;
  margin-bottom: 0px;
  font-family: Titillium Web;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -3px;
  text-align: left;
  color: #3a405b;
}

.Line-Copy {
  width: 430px;
  height: 6px;
  background-image: linear-gradient(91deg, #e75050, #f7ae18);
  border-color: #e75050;
}

.You-are-not-authoriz {
  width: 711px;
  height: 48px;
  font-family: Titillium Web;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: left;
  margin-top: 0px ;
  margin-left: 80px;
  letter-spacing: -0.5px;
  color: #3a405b;
}

.Rectangle-11 {
  position:relative;
  width: 226px;
  height: 226px;
  align-content: right;
  margin-left: 826px;
  margin-top:10px;
  border-radius: 90px;
  background-color: #ffffff;
  box-shadow: -20px 50px 60px 5px rgba(58, 64, 91, 0.15);
}

.Combined-Shape {
  width: 134.7px;
  height: 135.3px;
  margin:45px 45px 45px 45px;
  background-image: linear-gradient(135deg, #e75050, #f7ae18);
  background-image: linear-gradient(135deg, #e75050, var(--squash));
}

.Go-to-ShootQcom {
  width: 236px;
  height: 48px;
  font-family: Titillium Web;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: left;
  margin-top: 100px ;
  margin-left: 80px;
  letter-spacing: -0.5px;
  color: #3a405b;
}

.link{
  text-decoration: underline;  
  color: #3a405b;
}

