<div class=" SHQ-error-page-6 page vertical-align text-center" >
    <div class="vertical-align-middle ">
      <header>
      </header>       
       <div class="Rectangle-11">
          <img class="Combined-Shape" src="/assets/img/shootq-icon.svg">
        </div>
      <div class="Mask">
        <div class=position-Not>
          <h1 class="Not-Authorized">Not Authorized</h1>
          <img class="Line-Copy">
        </div>
          <h2 class="You-are-not-authoriz">You are not authorized to view this resource.</h2>
          <div class="Go-to-ShootQcom">
            <span >Go to <a class="link" routerLink="/dashboard">ShootQ.com</a></span>
          </div>
      </div>
    </div>
  </div>