<div class="jobs-list-header">
    <div class="row mlr0i">
        <div class="col-md-8 col12">
            <div class="row">
                <div class="col-sm-5 col1">
                    <div class="header">
                        <p class="date">JANUARY 2016</p>
                        <p class="text">GROSS SALES</p>
                    </div>
                    <p class="number">$4,575.00</p>
                    <p class="text">Across 4 active jobs</p>
                    <div class="buttons">
                        <a href="javascript:void(0);">VIEW REPORTS</a>
                    </div>
                </div>
                <div class="col-sm-7 col2">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="valuesBlock">
                                <p class="number">$1,143.75</p>
                                <div class="buttons">
                                    <a href="javascript:void(0);">Donaldson Portrait</a>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 60%;"></div>
                                </div>
                                <p class="status">$571.50 DUE</p>
                            </div>
                            <div class="valuesBlock">
                                <p class="number">$1,143.75</p>
                                <div class="buttons">
                                    <a href="javascript:void(0);">Donaldson Portrait</a>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 60%;"></div>
                                </div>
                                <p class="status">$571.50 DUE</p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="valuesBlock">
                                <p class="number">$1,143.75</p>
                                <div class="buttons">
                                    <a href="javascript:void(0);">Donaldson Portrait</a>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"  style="width: 60%;"></div>
                                </div>
                                <p class="status">$571.50 DUE</p>
                            </div>
                            <div class="valuesBlock">
                                <p class="number">$1,143.75</p>
                                <div class="buttons">
                                    <a href="javascript:void(0);">Donaldson Portrait</a>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar completed" role="progressbar" style="width: 100%;"></div>
                                </div>
                                <p class="status">100% PAID</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="col3">
                <h3>TASKS</h3>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="valuesBlock">
                            <p class="numbers">32/40</p>
                            <p class="text">UPCOMING TASKS</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"  style="width: 60%;"></div>
                            </div>
                            <div class="button">
                                <a class="javascript:void(0);">VIEW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="valuesBlock">
                            <p class="numbers">5/40</p>
                            <p class="text">OVERDUE TASKS</p>
                            <div class="progress">
                                <div class="progress-bar low" role="progressbar"  style="width: 60%;"></div>
                            </div>
                            <div class="button">
                                <a class="javascript:void(0);">FOLLOW UP</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>