.page {
    .page-header {
        &.page-header-jobs {
            padding-top:0px;
            padding-bottom: 0px;
            padding-left:0px;
            padding-right:0px;
            display:block;
        }
    }
}
.jobs-list-header {
    padding-top:3px;
    > .row {
        background:#f7f7f7;
    }
    .progress {
        background-color:#e4e8f0;
        height:5px;
        .progress-bar { 
            background: rgb(19,163,255);
            background: -moz-linear-gradient(left, rgba(19,163,255,1) 0%, rgba(8,106,255,1) 100%);
            background: -webkit-linear-gradient(left, rgba(19,163,255,1) 0%,rgba(8,106,255,1) 100%);
            background: linear-gradient(to right, rgba(19,163,255,1) 0%,rgba(8,106,255,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13a3ff', endColorstr='#086aff',GradientType=1 );
            border-radius: 4px;
            &.completed {
                background:#02ad94 !important;
            }
            &.low {
                background:#e94c84 !important;
            }
        }
    }
    .col12 {
        background-color:#fff;
        .col1 {
            padding-top:30px;
            text-align: center;
            border-right:1px solid #e4e8f0;
            padding-bottom:20px;
            .header {
                text-align: center;
                margin-bottom:30px;
                .date {
                    color:#3a405b;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size:18px;
                    line-height:1;
                    margin-bottom:5px;
                }
                .text {
                    text-transform: uppercase;
                    font-weight: bold;
                    color:#9c9fad;
                    font-size:14px;
                    margin-bottom:0px;
                    margin-top:0px;
                }
            }
            .number {
                font-weight: bold;
                color:#02ad94;
                text-align: center;
                font-size:42px;
                margin-top:0px;
                line-height:1;
                margin-bottom:25px;
            }
            > .text {
                color:#3a405b;
                font-size:18px;
                margin-top:0px;
                margin-bottom: 20px;
            }
            .buttons {
                text-align:center;
                a {
                    text-transform: uppercase;
                    color:#086aff;
                    font-weight: 600;
                    font-size:16px;
                }
            }
        }
        .col2 {
            padding-top:30px;
            text-align: center;
            .valuesBlock {
                display:block;
                text-align:left;
                vertical-align:top;
                max-width: 140px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom:25px;
                .number {
                    color: #3a405b;
                    font-size: 22px;
                    font-weight: 600;
                    line-height: 1;
                    margin-bottom: 3px;
                }
                .buttons {
                    margin-bottom:25px;
                    line-height: 1;
                    a {
                        font-size:12px;
                        color:#086aff;
                        display:inline-block;
                        line-height: 1;
                        font-weight: 600;
                    }
                }
                .progress {
                    margin-bottom: 5px;
                }
                .status {
                    font-size:12px;
                    font-weight: bold;
                    color:#9c9fad;
                    margin-top:0px;
                    margin-right:0px;
                    width:auto;
                    height:auto;
                    border:none;
                }
            }
        }
    }
    .col3 {
        padding-top:30px;
        padding-left:5%;
        padding-right:5%;
        background-color:#fff;
        min-height:265px;
        h3 {
            margin-top: 0px;
            font-size: 15px;
            color: #9c9fad;
            margin-bottom: 30px;
            font-weight: bold;
            line-height: 1;
        }
        .valuesBlock {
            .numbers {
                font-size:42px;
                color:#3a405b;
                font-weight: normal;
                line-height: 1;
                margin-bottom:4px;
            }
            .text {
                font-size:12px;
                font-weight: bold;
                color:#9c9fad;
                margin-bottom:15px;
                margin-top:0px;
            }
            .button {
                a {
                    text-transform: uppercase;
                    color:#086aff;
                    font-weight: 600;
                    font-size:16px;
                }
            }
        }
    }
}