<p>Contracts must be associated with a person. Please select a recipient(s) to send the contract to. The contract will not be sent until you are done editing and sign the contract.</p>
<ul class="filter-list">
  <li>All</li>
  <li>CUSTOMERS</li>
  <li>VENDORS</li>
  <li class="pull-right">+ NEW CONTACT</li>
</ul>
<div class="clearfix"></div>
<div class="searchBlock">
  <label>
    <input type="text" value="" placeholder="Search" />
  </label>
</div>
<ul class="usersList">
  <li>
    <span class="checkbox-custom checkbox-default">
      <input type="checkbox" value="" />
      <label></label>
    </span>
    <span>Estelle Reid</span>
    <span>emmerich.corene@haag.tv</span>
  </li>
  <li>
    <span class="checkbox-custom checkbox-default">
      <input type="checkbox" value="" />
      <label></label>
    </span>
    <span><input type="text" value="" placeholder="Name" /></span>
    <span><input type="text" value="" placeholder="Email" /></span>
  </li>
</ul>
<div class="buttonsBlock">
  <a class="btn">NEXT</a>
</div>