<div class="page">
  <div class="board">
    <ng-container *ngIf="!isLoading">
      <div class="loading-ripple" *ngIf="isLoading"></div>
      <div class="board__left" *ngIf="!recoverSent">
        <!-- begin header -->
        <div class="board__header">
          <div class="logo-box">
            <div class="logo">
              <img alt="ShootQ logo" src="/assets/img/shootq-icon.svg" />
            </div>
          </div>
          <h2 class="board__title">Enter your email address and we'll send you password reset instructions.</h2>
        </div>
        <!-- end header -->
        <!-- begin body -->
        <div class="board__body">
          <form [formGroup]="forgotPasswordForm">
            <div class="field field_placeholder" [ngClass]="{'is-validate': forgotPasswordForm.controls.email.invalid && showFormErrors}">
              <input name="email" type="text" value="" formControlName="email" [attr.data-empty]="!forgotPasswordForm.value.email">
              <label for="email">Email</label>
              <span *ngIf="forgotPasswordForm.controls.email.errors && showFormErrors" class="validate-message">
                <span *ngIf="forgotPasswordForm.controls.email.errors.required">The email is required.</span>
                <span *ngIf="forgotPasswordForm.controls.email.errors.emailExistsInvalid">User with this email doesn't exists.</span>
                <span *ngIf="forgotPasswordForm.controls.email.errors.maxlength">Email needs to be 254- characters.</span>
                <span *ngIf="forgotPasswordForm.controls.email.errors.email && forgotPasswordForm.value.email">Email is wrong.</span>
              </span>
            </div>
            <div class="control-button">
              <button type="button" class="btn" (click)="doResetPassword()">SEND</button>
              <button type="button" class="btn btn-resend" [routerLink]="['/login']">BACK TO LOGIN</button>
            </div>
          </form>
        </div>
        <!-- end body -->
      </div>
      <div class="board__left" *ngIf="recoverSent">
        <!-- begin header -->
        <div class="board__header">
          <div class="logo-box">
            <div class="logo">
              <img alt="ShootQ logo" src="/assets/img/shootq-icon.svg" />
            </div>
          </div>
          <h2 class="board__title">If you don't get an email from us within a few minutes please be sure to check your spam filter. The email will be coming from <a class="email-link" href="mailto:notifications@shootq.com" target="_top">notifications@shootq.com</a>
          </h2>
        </div>
        <!-- end header -->
        <!-- begin body -->
        <div class="board__body">
          <form name="form" (ngSubmit)="doRecoverPassword()" #f="ngForm" novalidate>
            <div class="control-button">
              <button type="button" class="btn" [routerLink]="['/login']">BACK TO LOGIN</button>
              <button type="button" class="btn btn-resend" (click)="doResetPassword()">RESEND EMAIL</button>
            </div>
          </form>
        </div>
        <!-- end body -->
      </div>
      <div class="board__right">
        <div class="bg-img" style="background-image: url('assets/img/login_work_less_guy.png')"></div>
      </div>
    </ng-container>
  </div>
</div>
